@import "./colours.scss";
@import "./typography.scss";
@import "./normalize.scss";

@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Italic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
}

body {
  font-family: "Circular-Light";
  margin: 0;
  background: $white;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: $ctaBlue;
}

.banner {
  height: 52px;
  background-color: #0a1b2b;

  .container {
    display: flex;
    padding: 13px 21px 13px 12px;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.navbar {
  width: 100%;
  height: 52px;
  background-color: $white;
  box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.3);

  .container {
    padding: 20px 12px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
      padding: 20px 48px;
    }

    .nav-left {
      display: flex;
      align-items: center;

      .nav {
        display: flex;
        flex-direction: row;
        margin-left: 40px;

        @media (max-width: 768px) {
          display: none;
        }

        ul li {
          margin-left: 40px;
          font-size: 12px;
          line-height: 1.5;
          cursor: pointer;
        }
      }
    }

    .nav-right {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.wrapper {
  padding: 0 12px;

  @media (min-width: 1440px) {
    width: calc(100vw - 276px - 276px);
    margin: auto;
  }

  .hero-section {
    .container {
      display: flex;
      flex-direction: column;
      padding: 0 33px;
      margin-top: 64px;

      @media (min-width: 768px) {
        padding: 0;
      }

      .title {
        font-family: "Circular-Medium";
      }

      .subtitle {
        margin-bottom: 32px;
        font-family: "Circular-Light";
      }

      .hero-btn {
        margin-top: 32px;
        margin-bottom: 55px;
        height: 48px;
      }

      .cta {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-btn {
          margin: auto;
          margin-top: 32px;
          margin-bottom: 24px;
          width: 200px;
        }
      }
    }
  }

  .pricing-section {
    margin-top: 65px;

    .container {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .card {
        margin: auto;
        max-width: 432px;
        text-align: center;
        padding: 36px 24px 32px 24px;
        background-color: $white;
        border-top: 4px solid $ctaBlue;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media (min-width: 991px) {
          margin: 0;
        }

        &:nth-of-type(2) {
          border-top: 4px solid $dark;
          margin-top: 48px;

          @media (min-width: 768px) {
            &:nth-of-type(2) {
              margin-top: 0;
              border-top: 4px solid $dark;
            }
          }
        }

        @media (min-width: 768px) {
          &:nth-of-type(1) {
            margin-right: 24px;
          }
        }

        &_cta {
          &__heading {
            max-height: 81px;
            .subtitle {
              margin-top: 32px;
            }
          }
          &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 40px;

            &--pricing {
              padding: 0;
              margin: 40px 0 40px 0;
              text-align: center;
            }
            &--btn {
              width: 100%;
            }
            &--footer {
              display: flex;
              flex-direction: column;
              margin: 32px 0;
              height: 70px;

              span {
                &:last-of-type {
                  margin-top: 12px;
                }
              }
            }
          }
        }

        &_fee {
          border-top: 1px solid #e6e6e8;
          border-bottom: 1px solid #e6e6e8;
          height: 88px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &_addons {
          border-bottom: 1px solid #e6e6e8;
          height: 356px;

          &__heading {
            text-align: left;
            margin-top: 32px;
          }

          &__list {
            margin: 24px 0 32px 0;

            &--item {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
            }
          }
        }
        &_features {
          margin-top: 32px;

          &__item {
            position: relative;
            text-align: left;
            display: block;
            font-family: "Circular-Italic";

            &:not(:last-child) {
              margin-bottom: 33px;
            }

            div {
              margin-left: 30px;
            }
            &:before {
              content: "";
              position: fixed;
              background-image: url("../assets/Tick.svg");
              background-size: cover;
              width: 20px;
              height: 20px;
            }
          }
        }

        &_info {
          margin: 32px 0;
          padding-bottom: 32px;
          text-align: left;
          border-bottom: 1px solid #e6e6e8;

          &__row {
            display: flex;

            &--pill {
              border: 1px solid black;
            }

            &:nth-of-type(1) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .cta-btn {
    display: flex;
    justify-content: center;
    margin: auto;
    color: $white;
    padding: 0;
    padding: 14px 24px;
    border-radius: 8px;
    width: 190px;
    text-align: center;
    font-family: "Circular-Medium";
    cursor: pointer;

    &--filled {
      background-color: $ctaBlue;

      &--dark {
        background-color: $dark;
      }
    }
    &--outline {
      border: 2px solid $ctaBlue;
      color: $ctaBlue;
      position: relative;

      span {
        position: relative;
        width: 100%;
        margin: auto;
        align-items: center;
        margin-left: -5px;
        &:after {
          content: "";
          position: absolute;
          background-image: url("../assets/Arrow.svg");
          background-size: cover;
          width: 18px;
          height: 15px;
          margin-left: 10px;
        }
      }
    }
  }
}

.pill {
  background-color: $purple;
  border-radius: 100px;
  margin: auto 0;
  margin-right: 15px;
  padding: 6px 12px;
  align-items: center;
  align-content: center;
}
