@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.ttf") format("truetype");
}

.h1--hero {
  margin: 0;
  font-family: "Circular-Bold";
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #0a1b2b;
}

.h1--cta {
  padding: 0;
  font-family: "Circular-Light";
  font-size: 35px;
  line-height: 52.5px;
}

.h3--primary {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  margin-top: 25px;
  color: #7d8089;
}

.h3--card {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #0a1b2b;
}

.span--banner {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.span--hero {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.span--cta {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #7d8089;
}

.span--btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.span--pill {
  font-family: "Circular-Bold";
  font-size: 12px;
  line-height: 12.65px;
  letter-spacing: 0em;
}

.span--italic {
  font-family: "Circular-Italic";
  font-weight: normal;
  font-size: 16px;
  color: #7d8089;
}

.span--bold {
  font-family: "Circular-Bold";
  font-size: 16px;
  line-height: 24px;
  color: #0a1b2b;
}

.span--details {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #7d8089;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Italic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
}

body {
  font-family: "Circular-Light";
  margin: 0;
  background: #fff;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #0069d9;
}

.banner {
  height: 52px;
  background-color: #0a1b2b;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 21px 13px 12px;
}

@media (min-width: 768px) {
  .banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar {
  width: 100%;
  height: 52px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.3);
          box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.3);
}

.navbar .container {
  padding: 20px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar .container {
    padding: 20px 48px;
  }
}

.navbar .container .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .nav-left .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .navbar .container .nav-left .nav {
    display: none;
  }
}

.navbar .container .nav-left .nav ul li {
  margin-left: 40px;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar .container .nav-right {
    display: none;
  }
}

.wrapper {
  padding: 0 12px;
}

@media (min-width: 1440px) {
  .wrapper {
    width: calc(100vw - 276px - 276px);
    margin: auto;
  }
}

.wrapper .hero-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 33px;
  margin-top: 64px;
}

@media (min-width: 768px) {
  .wrapper .hero-section .container {
    padding: 0;
  }
}

.wrapper .hero-section .container .title {
  font-family: "Circular-Medium";
}

.wrapper .hero-section .container .subtitle {
  margin-bottom: 32px;
  font-family: "Circular-Light";
}

.wrapper .hero-section .container .hero-btn {
  margin-top: 32px;
  margin-bottom: 55px;
  height: 48px;
}

.wrapper .hero-section .container .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.wrapper .hero-section .container .cta-btn {
  margin: auto;
  margin-top: 32px;
  margin-bottom: 24px;
  width: 200px;
}

.wrapper .pricing-section {
  margin-top: 65px;
}

.wrapper .pricing-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper .pricing-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper .pricing-section .container .card {
  margin: auto;
  max-width: 432px;
  text-align: center;
  padding: 36px 24px 32px 24px;
  background-color: #fff;
  border-top: 4px solid #0069d9;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 991px) {
  .wrapper .pricing-section .container .card {
    margin: 0;
  }
}

.wrapper .pricing-section .container .card:nth-of-type(2) {
  border-top: 4px solid #0a1b2b;
  margin-top: 48px;
}

@media (min-width: 768px) {
  .wrapper .pricing-section .container .card:nth-of-type(2):nth-of-type(2) {
    margin-top: 0;
    border-top: 4px solid #0a1b2b;
  }
}

@media (min-width: 768px) {
  .wrapper .pricing-section .container .card:nth-of-type(1) {
    margin-right: 24px;
  }
}

.wrapper .pricing-section .container .card_cta__heading {
  max-height: 81px;
}

.wrapper .pricing-section .container .card_cta__heading .subtitle {
  margin-top: 32px;
}

.wrapper .pricing-section .container .card_cta__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.wrapper .pricing-section .container .card_cta__content--pricing {
  padding: 0;
  margin: 40px 0 40px 0;
  text-align: center;
}

.wrapper .pricing-section .container .card_cta__content--btn {
  width: 100%;
}

.wrapper .pricing-section .container .card_cta__content--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 32px 0;
  height: 70px;
}

.wrapper .pricing-section .container .card_cta__content--footer span:last-of-type {
  margin-top: 12px;
}

.wrapper .pricing-section .container .card_fee {
  border-top: 1px solid #e6e6e8;
  border-bottom: 1px solid #e6e6e8;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .pricing-section .container .card_addons {
  border-bottom: 1px solid #e6e6e8;
  height: 356px;
}

.wrapper .pricing-section .container .card_addons__heading {
  text-align: left;
  margin-top: 32px;
}

.wrapper .pricing-section .container .card_addons__list {
  margin: 24px 0 32px 0;
}

.wrapper .pricing-section .container .card_addons__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.wrapper .pricing-section .container .card_features {
  margin-top: 32px;
}

.wrapper .pricing-section .container .card_features__item {
  position: relative;
  text-align: left;
  display: block;
  font-family: "Circular-Italic";
}

.wrapper .pricing-section .container .card_features__item:not(:last-child) {
  margin-bottom: 33px;
}

.wrapper .pricing-section .container .card_features__item div {
  margin-left: 30px;
}

.wrapper .pricing-section .container .card_features__item:before {
  content: "";
  position: fixed;
  background-image: url("../assets/Tick.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
}

.wrapper .pricing-section .container .card_info {
  margin: 32px 0;
  padding-bottom: 32px;
  text-align: left;
  border-bottom: 1px solid #e6e6e8;
}

.wrapper .pricing-section .container .card_info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .pricing-section .container .card_info__row--pill {
  border: 1px solid black;
}

.wrapper .pricing-section .container .card_info__row:nth-of-type(1) {
  margin-bottom: 20px;
}

.wrapper .cta-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: #fff;
  padding: 0;
  padding: 14px 24px;
  border-radius: 8px;
  width: 190px;
  text-align: center;
  font-family: "Circular-Medium";
  cursor: pointer;
}

.wrapper .cta-btn--filled {
  background-color: #0069d9;
}

.wrapper .cta-btn--filled--dark {
  background-color: #0a1b2b;
}

.wrapper .cta-btn--outline {
  border: 2px solid #0069d9;
  color: #0069d9;
  position: relative;
}

.wrapper .cta-btn--outline span {
  position: relative;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -5px;
}

.wrapper .cta-btn--outline span:after {
  content: "";
  position: absolute;
  background-image: url("../assets/Arrow.svg");
  background-size: cover;
  width: 18px;
  height: 15px;
  margin-left: 10px;
}

.pill {
  background-color: #c7abf8;
  border-radius: 100px;
  margin: auto 0;
  margin-right: 15px;
  padding: 6px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
/*# sourceMappingURL=main.css.map */