@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.ttf") format("truetype");
}

.h1--hero {
  margin: 0;
  font-family: "Circular-Bold";
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #0a1b2b;
}

.h1--cta {
  padding: 0;
  font-family: "Circular-Light";
  font-size: 35px;
  line-height: 52.5px;
}

.h3--primary {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  margin-top: 25px;
  color: #7d8089;
}

.h3--card {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #0a1b2b;
}

.span--banner {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.span--hero {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.span--cta {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #7d8089;
}

.span--btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.span--pill {
  font-family: "Circular-Bold";
  font-size: 12px;
  line-height: 12.65px;
  letter-spacing: 0em;
}

.span--italic {
  font-family: "Circular-Italic";
  font-weight: normal;
  font-size: 16px;
  color: #7d8089;
}

.span--bold {
  font-family: "Circular-Bold";
  font-size: 16px;
  line-height: 24px;
  color: #0a1b2b;
}

.span--details {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #7d8089;
}
/*# sourceMappingURL=typography.css.map */